---
layout: default.liquid
title: Hello
css: home
---

<div class="base-container">
  <h1>Hey</h1>
  <p> Nothing to see here.</p>
  <hr />
  <div class="nav-holder">
    <div class="base-container">
      <ul>
        <li><a href="/preloader"><s>Preloader (archived)</s></a></li>
        <li><a href="/toggle">Toggle</a></li>
        <li><a href="/range-slider">Range Slider</a></li>
        <li><a href="/download">Download</a></li>
        <li><a href="/test">Test</a></li>
      </ul>

      <hr />
      <h2>tide</h2>
      <tide></tide>
    </div>
  </div> 
</div>
