body.preloader {
  color: #555555;

  .container {
    max-width: 400px;
    margin: 100px auto;
    background-color: white;
    border-radius: 11px;
  }

  .preloader {
    font-size: 16px;
    font-weight: 400;
    padding: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;

    @keyframes spinMeRightRound {
      to {
        transform: rotateZ(360deg);
      }
    }

    .spinner {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      animation-name: spinMeRightRound;
      animation-iteration-count: infinite;
      animation-duration: 3s;
      animation-timing-function: linear;
    }

    .road {
      $hw: 150px;
      box-sizing: border-box;
      border-radius: 100%;
      border: 1px solid #ccc;
      background: rgba(#e6e6e6, 0.4);
      -webkit-backdrop-filter: blur(1.49333px);
      backdrop-filter: blur(1.49333px);
      width: $hw;
      height: $hw;
      padding: 33px;
      margin: 0 auto 10px auto;
      position: relative;
      z-index: 10;
    }

    @keyframes slideIn {
      0% {
        transform: translate(0,0);
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      100% {
        transform: translate(700px,0);
      }
    }

    .clouds {
      position: absolute;
      animation-name: slideIn;
      animation-timing-function: ease-out;
    }

    .cloud-1 {
      @extend .clouds;
      margin-left: -250px;
      animation-duration: 25s;
    }

    .cloud-2 {
      @extend .clouds;
      margin-left: -270px;
      top: 130px;
      animation-duration: 30s;
    }

    .cloud-3 {
      @extend .clouds;
      margin-left: -150px;
      top: 40px;
      animation-duration: 27s;
      animation-delay: 5s;
    }

    .animation-circle {
      animation: spinner 1s infinite linear;
    }
  }
}