.waffles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    border: none;
    outline: none;
    grid-column: 1 / span 2;

    // https://css-tricks.com/sliding-nightmare-understanding-range-input/
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 4px;
      background: #bdbdbd;
      border-radius: 4px;
    }

    &::-webkit-slider-thumb { 
      -webkit-appearance: none;
      height: 22px;
      width: 22px;
      background: #532380;
      margin-top: -9px;
      border-radius: 50%;
      border: 2px solid #f2f2f2;
    }
  }

  input[type='number'] { 
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 4px 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #212121;
    box-sizing: border-box;
  }

  label {
    align-self: center;
  }
}