// and can I make local variables, ideally scoped?
$transition-medium: 400ms;

body.toggle-demo {
  background: white;
  
  .toggle {
    margin-top: 60px;
    box-sizing: border-box;
    height: 40px; /* there is probably a more elegant way to match the height of our medium btn */
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 268px; /* just for presentation */
    position: relative; 
    padding: 4px;
    // this is weird
    &:after {
      background-color: rgba(black, 0.1);
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -10;
    }
  }
  
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 16px;
    position: relative;
    transition: color $transition-medium ease-in-out;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    &:after {
      background-color: white;
      box-shadow: 2px 2px 3px rgba(black, 0.05);
      content: "";
      position: absolute;
      height: 32px;
      width: 100%;
      top: 0;
      transition: left $transition-medium cubic-bezier(0,0,0,1);
      z-index: -1;
      border-radius: 4px;
    }
  }

  input {
    clip-path: polygon(0 0);
    position: absolute;
    &:checked + label {
      cursor: default;
      position: relative;
      transition: color 300ms ease-in 100ms;
      &:after {
        left: 0;
      }
    }
  }
  
  .toggle-left + label:after { left: 100%; }
  .toggle-right + label:after { left: -100%; }

}