// how do I pull external variables? 
$brand-primary: #532380;
$active-background: #555;
$very-light-gray: #f2f2f2;

// and can I make local variables, ideally scoped?
$transition-medium: 500ms;

body.toggle-demo {
  background: white;
  
  .toggle {
    margin-top: 60px;
    box-sizing: border-box;
    height: 40px; /* there is probably a more elegant way to match the height of our medium btn */
    // border: 1px solid #bdbdbd;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 268px; /* just for presentation */
    position: relative; 
    // this is weird
    &:after {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -10;
    }
  }
  
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 0 16px;
    position: relative;
    transition: color $transition-medium ease-in-out;
    color: #767676;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    &:after {
      background-color: $active-background;
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      transition: left $transition-medium cubic-bezier(0,0,0,1);
      z-index: -1;
    }
  }

  input {
    clip-path: polygon(0 0);
    position: absolute;
    &:checked + label {
      cursor: default;
      color: $very-light-gray;
      position: relative;
      transition: color 300ms ease-in 100ms;
      &:after {
        left: 0;
      }
    }
  }
  
  .toggle-left + label:after { left: 100%; }
  .toggle-right + label:after { left: -100%; }

}